h2 {
  color:rgb(7, 177, 163);
  font-family: 'Montserrat';
  font-weight: bold;
}

h3 {
  color: rgb(218, 126, 198);
}

.card {
  padding: 20px;
  margin: 20px 0;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 20px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  height: auto;
}

.card:hover {
  transform: translateY(-10px);
  box-shadow: 0 6px 15px rgba(0, 0, 0, 0.3);
}

.card-title {
  font-size: 30px;
  font-family: 'Montserrat';
  font-weight: bold;
  color: rgb(218, 126, 198); 
  text-shadow: 0 4px 10px rgba(247, 236, 247, 0.826);
  align-items: center;
}

.buscar {
  border-radius: 10px;
  border: 1px solid rgb(197, 193, 193);
  padding: 5px;
  font-family: 'Poppins';
}

.input-group {
  width: 30%;
  margin-left: auto;
  margin-right: 0;
}

.input-group-text {
  background-color: #fff;
  border: 1px solid rgb(197, 193, 193);
  border-radius: 0 10px 10px 0;
}

.input-group-text .fas {
  color: rgb(197, 193, 193);
}

.input-group-text {
  align-items: center;
}

.ordenar {
  border: none;
  white-space: nowrap;
}

.ordenar:hover {
  color: rgb(7, 177, 163);
  transition: background-color 0.3s ease;
}
.d-flex {
  gap: 10px;
  flex-wrap: wrap;
}

.presupuesto {
  align-items: center;
}

.nombre, .presupuesto-total {
  font-family: 'Montserrat';
  font-weight: bold;
}

.e-mail, .telefono {
  font-family: Poppins;
  font-weight: bold;
}

.datos-servicio {
  text-align: start;
}

.total {
  text-align: end;
}

@media (max-width: 992px) {
  .input-group {
    margin-bottom: 10px;
  }
}

@media (max-width: 768px) {
 h2 {
  display: flex;
  justify-content: center;
 }
 .input-group {
  margin-top:10px;
  margin-left: 0;
}
 .filtros {
  display: flex;
  justify-content: center;
}
}
