<div class="container">

  <form [formGroup]="form">
    <div class="card mt-5">
      <div class="card-body">
        <div class="row align-items-center justify-content-center">
          <h3 class="card-title mb-4">Pedir presupuesto</h3>
          <div class="col-4">
            <input
              type="text"
              id="NombreCliente"
              placeholder="Nombre y apellido"
              formControlName="NombreCliente"
            />
          </div>
          <div class="col-3">
            <input
              type="tel"
              id="Telefono"
              placeholder="Teléfono"
              formControlName="Telefono"
            />
          </div>
          <div class="col-3">
            <input
              type="email"
              id="Email"
              placeholder="Email"
              formControlName="Email"
            />
          </div>
          <div class="col-2">
            <button type="submit" class="btn-solicita" (click)="solicitarPresupuesto()">Solicitar</button>
          </div>
        </div>
      </div>
    </div>
  </form>

  <h3>Presupuestos en curso</h3>

  @for(budget of budgetService.getBudget(); track budget.NombreCliente) {
  <div class="card mt-5">
    <div class="card-body">
      <div class="presupuesto row">
        <div class="datos-persona col-5">
          <h3 class="nombre">{{ budget.NombreCliente }}</h3>
          <p class="e-mail">{{ budget.Email }}</p>
          <p class="telefono">{{ budget.Telefono }}</p>
        </div>

        <div class="datos-servicio col-3">
          <p class="servicios">
            Servicios:
            @if(budget.servicios.web){
              <li> Web ({{budget.numeroDePaginas}} páginas, {{budget.numeroDeIdiomas}} Idiomas)</li>
              }
              @if(budget.servicios.ads){
              <li> Email</li>
              }
              @if(budget.servicios.seo){
              <li> SEO</li>
              }
          </p>
          <p class="paginas">Páginas: {{ budget.numeroDePaginas }}</p>
          <p class="idiomas">Idiomas: {{ budget.numeroDeIdiomas }}</p>
        </div>

        <div class="total col-4">
          <h3>{{ budget.totalCost }} €</h3>
        </div>
      </div>
    </div>
  </div>
  }
</div>
