@if (cribarPresupuesto().length >= 1) {
  
  <div class="container mt-5">
    <div class="busqueda row align-items-center text-sm-start">
      <h2 class="col-lg-3 col-md-4 mb-2 mb-lg-0">Presupuestos en curso</h2>

      <div class="filtros col-lg-9 col-md-8 d-flex">

        <div class="input-group col-lg-6 mb-2 mb-md-0">
          <input type="text" class="buscar form-control" placeholder="Buscar" (input)="buscarPresupuestos($event)" />
          <span class="input-group-text">
            <i class="fas fa-search"></i>
          </span>
        </div>

        <div class="d-flex col-lg-6">
          <button (click)="ordenarPorFecha()" class="btn ordenar  mb-2 mb-md-0">Fecha</button>
          <button (click)="ordenarPorPrecio()" class="btn ordenar me-2 mb-2 mb-md-0">Importe</button>
          <button (click)="ordenarPorNombre()" class="btn ordenar mb-2 mb-md-0">Nombre</button>
        </div>
      </div>
    </div>
  
  @for(budget of cribarPresupuesto(); track budget.id) {
  <div class="card mt-5">
    <div class="card-body">
      <div class="presupuesto row">
        <div class="datos-persona col-5">
          <h3 class="nombre">{{ budget.NombreCliente }}</h3>
          <p class="e-mail">{{ budget.Email }}</p>
          <p class="telefono">{{ budget.Telefono }}</p>
        </div>

        <div class="datos-servicio col-3">
          <p class="servicios">
            <b>Servicios contratados:</b><br>
            @if(budget.servicios.web){
              <li> Web  
                @if(budget.numeroDePaginas > 0) {
                  <br><span> {{budget.numeroDePaginas}} {{ budget.numeroDePaginas === 1 ? 'página' : 'páginas'}}</span>
                } <br>
                @if(budget.numeroDeIdiomas > 0) {
                  <span> {{budget.numeroDeIdiomas}} {{ budget.numeroDeIdiomas === 1 ? 'idioma' : 'idiomas'}}</span>
                }
              </li>
            }
              @if(budget.servicios.ads){
              <li> ADS</li>
              }
              @if(budget.servicios.seo){
              <li> SEO</li>
              }
          </p>
        </div>

        <div class="total col-4 mb-5">
          <h3 class="presupuesto-total">{{ budget.totalCost }} €</h3>
        </div>
      </div>
    </div>
  </div>
  }
</div>
}
