.btn-info {
    background-color: transparent;
    border: none;
    padding: 0;
    cursor: pointer;
  }
  
  .btn-info i {
    color: #333; 
    font-size: 18px;
  }
  
  .btn-info:hover i {
    color: rgb(7, 177, 163);
  }