<header class="container-logo">
  <div class="row">
      <img class="img-logo" src="assets/img/logo-transparente.png" alt="logo"/>
  </div>
</header>


<div class="container-imagen">
    <img class="fondo-home" src="assets/img/fondo-home.png" alt="fondo-home">
    <h2>ACONSEGUEIX LA MILLOR QUALITAT</h2>
</div>

<div class="container-form">
  <form>
      <div class="card service-SEO">
        <div class="card-body">
          <div class="service-info">
            <h5 class="card-title">SEO</h5>
            <h6 class="card-subtitle">Programació d'una web responsive completa</h6>
          </div>
          <div class="price">300 €</div>
          <div class="service-checkbox">
            <input type="checkbox" formControlName="seo" />
          </div>
        </div>
      </div>

      <div class="card service-ADS">
        <div class="card-body">
          <div class="service-info">
            <h5 class="card-title">ADS</h5>
            <h6 class="card-subtitle">Programació d'una web responsive completa</h6>
          </div>
          <div class="price">400 €</div>
          <div class="service-checkbox">
            <input type="checkbox" formControlName="ads" />
          </div>
        </div>
      </div>

      <div class="card service-WEB">
        <div class="card-body">
          <div class="service-info">
            <h5 class="card-title">WEB</h5>
            <h6 class="card-subtitle">Programació d'una web responsive completa</h6>
          </div>
          <div class="price">500 €</div>
          <div class="service-checkbox">
            <input type="checkbox" formControlName="web" />
          </div>
        </div>
      </div>
  </form>

  <div class="total">
    <h3>Preu pressupostat: €</h3>
  </div>
</div>

