body {
  background-color: #f9f9f9;
}

header {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
  background-color: rgb(7, 177, 163);
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
}

.header-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 1200px;
  padding: 0 20px;
}

.menu-hamburguesa {
  display: none;
  flex-direction: column;
  cursor: pointer;
}

.menu-hamburguesa span {
  height: 4px;
  width: 30px;
  background: white;
  margin: 4px;
  transition: 0.3s;
}

.navbar {
  margin: 0;
  display: flex;
}

.navbar ul {
  list-style: none;
  padding: 0;
  display: flex;
  gap: 40px;
}

.navbar a {
  text-decoration: none;
  color: white;
  font-size: 20px;
  font-family: "Montserrat";
}

.navbar a:hover {
  color: #fbdfca;
}

.img-logo {
  width: 20%;
  filter: invert(100%);
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(1, 0, 0, 0.7);
  z-index: 999;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-content {
  background: white;
  padding: 20px;
  border-radius: 10px;
  text-align: center;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  border-left: 2px solid rgb(7, 177, 163);
  border-right: 2px solid rgb(7, 177, 163);
  max-width: 600px;
  width: 80%;
}

.img-logo-modal {
  display: block;
  margin: 0 auto;
  width: 40%;
}

.modal-menu {
  list-style: none;
  padding: 0;
  margin: 20px 0;
}

.modal-menu li {
  margin: 10px 0;
}

.modal-menu a {
  text-decoration: none;
  color: rgb(7, 177, 163);
  font-size: 24px;
  font-family: "Montserrat";
}

.modal-menu a:hover {
  color: rgb(218, 126, 198);
}

.button-container {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}
.close-button {
  background-color: rgb(218, 126, 198);
  color: white;
  border: none;
  width: 80%;
  padding: 5px 10px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s;
}

.close-button:hover {
  background-color: rgb(240, 171, 226);
}
.container-imagen {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80vw;
  max-width: 1000px;
  height: 250px;
  aspect-ratio: 16 / 9;
  border-radius: 60px;
  margin: 0 auto;
  margin-bottom: 60px;
  position: relative;
  overflow: hidden;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

.fondo-home {
  height: auto;
  object-fit: contain;
  position: absolute;
  border-radius: 60px;
}

h2 {
  margin: 0;
  font-size: 50px;
  font-family: "Montserrat";
  font-weight: bold;
  color: rgb(7, 177, 163);
  text-align: center;
  position: relative;
  text-shadow: 0 4px 10px rgba(5, 223, 204, 0.2);
}

h2:hover {
  color: rgb(218, 126, 198);
  text-shadow: 0 4px 15px rgba(255, 255, 255, 0.8);
}

h2 {
  animation: fadeInUp 0.5s ease;
}

@keyframes fadeInUp {
  from {
    transform: translateY(20px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

h5 {
  font-size: 30px;
  font-family: "Montserrat";
  font-weight: bold;
  color: rgb(7, 177, 163);
  margin-bottom: 5px;
  text-shadow: 0 2px 10px rgba(106, 218, 208, 0.2);
}

h6 {
  max-width: 250px;
  font-size: 16px;
  font-family: "Poppins";
  font-weight: 400;
  color: rgb(0, 0, 0);
  margin-top: 0;
  word-wrap: break-word;
}

.container-form {
  max-width: 800px;
  margin: 0 auto;
}

.card {
  padding: 20px;
  margin: 20px 0;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 20px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  height: auto;
}

.card:hover {
  transform: translateY(-10px);
  box-shadow: 0 6px 15px rgba(0, 0, 0, 0.3);
}

.service-info {
  text-align: left;
  flex-grow: 1;
}

.service-checkbox {
  display: flex;
  align-items: center;
  justify-content: flex-end !important;
}

.precio {
  font-size: 40px;
  font-weight: bold;
  color: rgb(7, 177, 163);
  text-align: center;
}

.total {
  margin-top: 20px;
  display: flex;
  justify-content: end;
}

.total h3 {
  margin-top: 20px;
  font-family: "Montserrat";
  font-weight: bold;
  font-size: 30px;
  color: rgb(7, 177, 163);
  text-shadow: 0 2px 5px rgba(106, 218, 208, 0.2);
}

.card-title-form {
  font-size: 30px;
  font-family: "Montserrat";
  font-weight: bold;
  color: rgb(218, 126, 198);
  text-shadow: 0 4px 10px rgba(247, 236, 247, 0.826);
}

input {
  padding: 5px;
  border-radius: 10px;
  border-color: rgb(197, 193, 193);
  font-family: "Poppins";
  width: 100%;
}

.btn-solicita {
  padding: 5px;
  display: inline-block;
  background-color: rgb(218, 126, 198);
  color: white;
  text-decoration: none;
  font-family: "Montserrat";
  font-size: 1rem;
  font-weight: bold;
  border-radius: 10px;
  border: none;
  transition: background-color 0.3s;
  width: 100%;
}

.row {
  margin: 0;
}

footer {
  background-color: rgb(7, 177, 163);;
  padding: 15px 0;
  box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.1);
}

.footer-content {
  display: flex;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

.img-footer {
  width: 30%;
  filter: invert(100%);
}

.footer-left {
  flex: 1;
}

.footer-center {
  color: white;
  text-align: center;
  flex: 1;
}

.empresa{
  margin-top: 10px;
}

.footer-right {
  display: flex;
  justify-content: flex-end;
  flex: 1;
}

.social-icons {
  display: flex;
  gap: 20px;
}

.social-icons a {
  color: white;
  font-size: 30px;
  transition: color 0.3s;
  gap: 20px;
}

.social-icons a:hover {
  color: rgb(218, 126, 198);
}

input.is-invalid {
  border: 1px solid red;
}

.error {
  display: flex;
  justify-content: start;
  color: red;
  font-size: 12px;
}

.error-banner {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: rgb(250, 247, 242);
  color: red;
  text-align: center;
  padding: 10px 0;
  font-size: 16px;
  z-index: 1000;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  animation: fadeInDown 0.5s ease-in-out, fadeOutUp 0.5s ease-in-out 4s;
}

.fas.fa-exclamation-triangle {
  color: red;
}
button.disabled-button {
  background-color: rgb(240, 171, 226);
  cursor: not-allowed;
}

@keyframes fadeInDown {
  0% {
    transform: translateY(-100%);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes fadeOutUp {
  0% {
    transform: translateY(0);
    opacity: 1;
  }
  100% {
    transform: translateY(-100%);
    opacity: 0;
  }
}

@media (max-width: 768px) {
  .header-container {
    justify-content: space-between;
  }
  
  .navbar {
    display: none;
    flex-direction: column;
  }

  .navbar.active {
    display: flex;
  }

  .menu-hamburguesa {
    display: flex;
    justify-content: end;
  }

  .img-logo{
    justify-content: start;
  }

  h2 {
    font-size: 40px;
    padding: 60px;
  }

  .total {
    justify-content: center;
  }

  .container-form {
    padding: 0 10px;
  }

  .card {
    margin: 20px;
    padding: 0;
  }

  .card.service-SEO,
  .card.service-ADS,
  .card.service-WEB {
    width: 80%;
    margin: 20px auto;
  }

  .card-body .col-6,
  .card-body .col-3 {
    width: 100%;
    text-align: center;
  }

  .card-body .service-info {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .card-body .service-info h6 {
    text-align: center;
    font-size: 16px;
  }

  .card-body .precio {
    font-size: 30px;
    margin: 0;
  }

  .card-body .service-checkbox {
    margin: 0;
  }

  .container-form form {
    width: 100%;
  }

  .col-4,
  .col-3,
  .col-2 {
    width: 100%;
    margin-bottom: 10px;
  }

  .btn-solicita {
    width: 100%;
  }

  .card-title-form {
    font-size: 24px;
  }

  .footer-content {
    flex-direction: column;
    align-items: center;
  }
  .img-footer {
    margin-bottom: 15px;
  }
  .empresa{
    margin-top: 0;
  }
  .footer-left, .footer-center, .footer-right {
    text-align: center;
    flex: none;
  }
}

@media (max-width: 576px) {
  h2 {
    font-size: 40px;
    padding: 60px;
  }

  .card-body .service-info h6 {
    text-align: center;
  }
  
  .card {
    margin: 10px 0;
  }
}
