<header class="container-logo">
  <div class="header-container">
    <img class="img-logo" src="assets/img/logo-transparente.png" alt="logo" />
    <div class="menu-hamburguesa" (click)="toggleMenu()">
      <span></span>
      <span></span>
      <span></span>
    </div>
  </div>
  <nav class="navbar" [ngClass]="{ active: menuVisible }">
    <ul>
      <li><a href="#">Sobre nosotros</a></li>
      <li><a href="#">Servicios</a></li>
      <li><a href="#">Contacto</a></li>
    </ul>
  </nav>

  @if (menuVisible) {
  <div class="modal">
    <div class="modal-content">
      <img class="img-logo-modal" src="assets/img/logo-transparente.png" alt="logo" />
      <ul class="modal-menu">
        <li><a href="#">Sobre nosotros</a></li>
        <li><a href="#">Servicios</a></li>
        <li><a href="#">Contacto</a></li>
      </ul>
      <div class="button-container">
      <button class="close-button" (click)="toggleMenu()">Cerrar</button>
    </div>
    </div>
  </div>
}
</header>

<div class="container-imagen mt-5">
  <img class="fondo-home" src="assets/img/fondo-home.png" alt="fondo-home" />
  <h2>CONSIGUE LA MEJOR CALIDAD</h2>
</div>

@if(ErrorCheckbox){
  <div class="alert error-banner text-center">
    <i class="fas fa-exclamation-triangle"></i> <br>
    <span>Selecciona al menos un servicio</span>
  </div>
  }

<div class="container-form">
  <form [formGroup]="form">
    <div class="card service-SEO">
      <div class="card-body row align-items-center">
        <div class="service-info col-6">
          <h5 class="card-title">SEO</h5>
          <h6 class="card-subtitle">Publicidad SEO</h6>
        </div>
        <div class="precio col-3 text-center">
          <p>300 €</p>
        </div>
        <div class="service-checkbox col-3 text-end">
          <input type="checkbox" formControlName="seo" />
        </div>
      </div>
    </div>

    <div class="card service-ADS">
      <div class="card-body row align-items-center">
        <div class="service-info col-6">
          <h5 class="card-title">ADS</h5>
          <h6 class="card-subtitle">Programación de publicidad ADS</h6>
        </div>
        <div class="precio col-3 text-center">
          <p>400 €</p>
        </div>
        <div class="service-checkbox col-3 text-end">
          <input type="checkbox" formControlName="ads" />
        </div>
      </div>
    </div>

    <div class="card service-WEB">
      <div class="card-body row align-items-center">
        <div class="service-info col-6">
          <h5 class="card-title">WEB</h5>
          <h6 class="card-subtitle">
            Programación de una web responsiva completa
          </h6>
        </div>
        <div class="precio col-3 text-center">
          <p>500 €</p>
        </div>
        <div class="service-checkbox col-3 text-end">
          <input type="checkbox" formControlName="web" />
        </div>
        <div class="panel">
          @if (form.get("web")?.value) {
          <app-panel
            (totalWebCost)="onWebCostChange($event)"
            (paginasChange)="onPaginasChange($event)"
            (idiomasChange)="onIdiomasChange($event)"
          ></app-panel>
          }
        </div>
      </div>
    </div>
  </form>

  <div class="total">
    <h3>Presupuesto: {{ total }} €</h3>
  </div>

  <form [formGroup]="form">
    <div class="card mt-5">
      <div class="card-body">
        <div class="row align-items-center justify-content-center">
          <h3 class="card-title-form mb-4">Pide presupuesto</h3>
          <div class="col-4">
            <input
              type="text"
              id="NombreCliente"
              placeholder="Nombre y apellido"
              formControlName="NombreCliente"
              [ngClass]="{ 'is-invalid': form.get('NombreCliente')?.invalid && form.get('NombreCliente')?.touched }"
              />
              @if (form.get('NombreCliente')?.invalid && form.get('NombreCliente')?.touched) {
                <small class="error">Introduce un nombre</small>
              }  
          </div>

          <div class="col-3">
            <input
              type="tel"
              id="Telefono"
              placeholder="Teléfono"
              formControlName="Telefono"
              [ngClass]="{ 'is-invalid': form.get('Telefono')?.invalid && form.get('Telefono')?.touched }"
            />
            @if (form.get('Telefono')?.invalid && form.get('Telefono')?.touched) {
              <small class="error">Introduce un teléfono válido</small>
            }
          </div>
          <div class="col-3">
            <input
              type="email"
              id="Email"
              placeholder="Email"
              formControlName="Email"
              [ngClass]="{ 'is-invalid': form.get('Email')?.invalid && form.get('Email')?.touched }"
              />
              @if (form.get('Email')?.invalid && form.get('Email')?.touched) {
                @if(form.get('Email')?.errors?.['required']) {
                  <small class="error" class="error">Introduce un email</small>
                }
                @if(form.get('Email')?.errors?.['email']) {
                  <small class="error" class="error">Introduce un email válido</small>
                }
              }
  
          </div>
          <div class="col-2">
            <button
              type="submit"
              class="btn-solicita"
              [disabled]="form.invalid" [ngClass]="{'disabled-button': form.invalid}"
              (click)="solicitarPresupuesto()"
            >Solicitar
            </button>
          </div>
        </div>
      </div>
    </div>
  </form>

  <app-budget-list></app-budget-list>
</div>

<footer class="mt-5">
  <div class="footer-content">
    <div class="footer-left">
      <img
        class="img-footer"
        src="assets/img/logo-transparente.png"
        alt="logo"
      />
    </div>
    <div class="footer-center">
      <p class="empresa">&copy; 2024 Mountain. Todos los derechos reservados.</p>
    </div>
    <div class="footer-right">
      <div class="social-icons">
        <a href="#" aria-label="Facebook"><i class="fa fa-facebook"></i></a>
        <a href="#" aria-label="Instagram"><i class="fa fa-instagram"></i></a>
        <a href="#" aria-label="Twitter"><i class="fa fa-twitter"></i></a>
      </div>
    </div>
  </div>
</footer>
