<form [formGroup]="form" class="form">
  <div class="panel mt-2">
    <div id="paginas" class="mb-3">
      <button type="button" class="btn btn-info ms-2" data-bs-toggle="modal" data-bs-target="#dynamicModal" 
      (click)="setModalContent('Número de páginas', 'Añade las páginas que tendrá tu proyecto. Cada página cuesta 30€.')">
        <i class="bi bi-info-circle"></i>
      </button>
      <label for="pagina">Número de páginas:</label>
      <button (click)="decrementoPaginas()" class="botones">-</button>
      <input type="number" id="pagina" class="input-small" formControlName="numeroDePaginas" />
      <button (click)="incrementoPaginas()" class="botones">+</button>
    </div>

    <div id="idiomas">
      <button type="button" class="btn btn-info ms-2" data-bs-toggle="modal" data-bs-target="#dynamicModal" 
              (click)="setModalContent('Número de idiomas', 'Añade los idiomas que tendrá tu proyecto. Cada idioma cuesta 30€.')">
        <i class="bi bi-info-circle"></i>
      </button>
      <label for="idioma">Número de idiomas:</label>
      <button (click)="decrementoIdiomas()" class="botones">-</button>
      <input type="number" id="idioma" class="input-small" formControlName="numeroDeIdiomas" />
      <button (click)="incrementoIdiomas()" class="botones">+</button>
    </div>
  </div>
</form>
<app-modal [title]="modalTitle" [body]="modalBody"></app-modal>