   #paginas, #idiomas {
    font-family: 'Poppins';
    display: flex;
    justify-content: end;
  }

  .btn-info {
    background-color: transparent;
    border: none;
    padding: 0;
    cursor: pointer;
  }
  
  .btn-info i {
    color: #333; 
    font-size: 18px;
  }
  
  .btn-info:hover i {
    color: rgb(7, 177, 163);
  }
  
  .input-small {
    width: 50px;
    font-size: 14px;
    text-align: center;
    border: 1px solid #ccc;
    border-radius: 6px;
    padding: 5px;
    transition: border-color 0.3s; 
  }

  .input-small:focus {
    outline: none;
    border-color: rgb(7, 177, 163);
  }

  .panel div {
    margin-bottom: 10px;
  }
  
  .botones {
  margin: 0 10px;
  font-size: 14px;
  border: 1px solid #ccc;
  border-radius: 100%;
  color: #333;
  cursor: pointer;
  transition: background-color 0.3s, border-color 0.3s;
}

.botones:hover {
  border-color: rgb(7, 177, 163);
}
.botones:focus {
  outline: none;
}
@media (max-width: 768px) {

  #paginas, #idiomas {
    display: flex;
    justify-content: center;
  }
}
